<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<command
			categoryId="org.eclipse.jdt.ui.category.source"		
			id="be.vanpeerdevelopment.eclipse.builder.ui.command.generatebuilder" 
			name="Generate Builder"
			description="A builder class will be generated for the active class.">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
    	<handler
   			class="be.vanpeerdevelopment.eclipse.builder.ui.handlers.GenerateBuilderHandler"
        	commandId="be.vanpeerdevelopment.eclipse.builder.ui.command.generatebuilder">
    	</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
        	locationURI="popup:org.eclipse.jdt.ui.source.menu?after=AddUnimplementedConstructors">
        	<command
        		id="GenerateBuilder"
        		mnemonic="B"
               	commandId="be.vanpeerdevelopment.eclipse.builder.ui.command.generatebuilder"
               	label="Generate Builder"
               	style="push">
               	<visibleWhen>
               		<with variable="activeContexts">
                    	<iterate operator="or">
                    		<equals value="org.eclipse.jdt.ui.javaEditorScope"/>
                    	</iterate>
               		</with>
               	</visibleWhen>
        	</command>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			sequence="M1+M3+B"
			commandId="be.vanpeerdevelopment.eclipse.builder.ui.command.generatebuilder"
			contextId="org.eclipse.jdt.ui.javaEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
	
</plugin>
